In [13]:
import pandas as pd
%matplotlib notebook

import numpy as np
import matplotlib.pyplot as plt

In [2]:
temps_df = pd.read_csv("Houston_Temps.csv")
temps_df.head(5)

       Date  High  Low  Average Precip
0  1/1/2005    75   62     68.5      T
1  1/2/2005    73   66     69.5      0
2  1/3/2005    79   66     72.5      0
3  1/4/2005    73   66     69.5   0.04
4  1/5/2005    77   46     61.5   0.01

In [3]:
norms_df = pd.read_csv("Houston_Norms.csv")
norms_df.head(5)

,Month,Day,Normal Max,Normal Min,Record Max,Record Max Year,Low Max,Low Max Year,Record Min,Record Min Year,High Min,High Min Year,Normal Average
0,1,1,62,41,80,1934,36,2001,25,1979,69,1956,51.5
1,1,2,62,41,82,1965,35,1979,17,1979,69,2000,51.5
2,1,3,62,41,83,1989,37,1974,18,1979,68,2004,51.5
3,1,4,62,41,78,1957,36,1959,22,1959,66,2005,51.5
4,1,5,62,41,80,1989,40,1972,22,1972,64,1997,51.5

In [4]:
temps_df[["Month","Day","Year"]]  = temps_df.Date.str.split("/",expand=True)
temps_df.head(5)

       Date  High  Low  Average Precip Month Day  Year
0  1/1/2005    75   62     68.5      T     1   1  2005
1  1/2/2005    73   66     69.5      0     1   2  2005
2  1/3/2005    79   66     72.5      0     1   3  2005
3  1/4/2005    73   66     69.5   0.04     1   4  2005
4  1/5/2005    77   46     61.5   0.01     1   5  2005

In [5]:
xyz=['Year',"Month","Day","High", "Low", "Average"]
temps_df = temps_df[xyz]

temps_df.head(5)

   Year Month Day  High  Low  Average
0  2005     1   1    75   62     68.5
1  2005     1   2    73   66     69.5
2  2005     1   3    79   66     72.5
3  2005     1   4    73   66     69.5
4  2005     1   5    77   46     61.5

In [6]:
temps_df["Month"] = temps_df["Month"].astype(int)
temps_df["Day"]   = temps_df["Day"].astype(int)
temps_df["Year"]  = temps_df["Year"].astype(int)
temps_df.dtypes

Year         int32
Month        int32
Day          int32
High         int64
Low          int64
Average    float64
dtype: object

In [7]:
focus_year = 2005

temps_year_df = temps_df.loc[temps_df["Year"] == focus_year, : ]
temps_year_df.head()

   Year  Month  Day  High  Low  Average
0  2005      1    1    75   62     68.5
1  2005      1    2    73   66     69.5
2  2005      1    3    79   66     72.5
3  2005      1    4    73   66     69.5
4  2005      1    5    77   46     61.5

In [8]:
temps_year_df = pd.merge(temps_year_df, norms_df, on=("Month", "Day"), how="right")
temps_year_df

,Year,Month,Day,High,Low,Average,Normal Max,Normal Min,Record Max,Record Max Year,Low Max,Low Max Year,Record Min,Record Min Year,High Min,High Min Year,Normal Average
0,2005.0,1,1,75.0,62.0,68.5,62,41,80,1934,36,2001,25,1979,69,1956,51.5
1,2005.0,1,2,73.0,66.0,69.5,62,41,82,1965,35,1979,17,1979,69,2000,51.5
2,2005.0,1,3,79.0,66.0,72.5,62,41,83,1989,37,1974,18,1979,68,2004,51.5
3,2005.0,1,4,73.0,66.0,69.5,62,41,78,1957,36,1959,22,1959,66,2005,51.5
4,2005.0,1,5,77.0,46.0,61.5,62,41,80,1989,40,1972,22,1972,64,1997,51.5
5,2005.0,1,6,47.0,39.0,43.0,62,41,80,1989,38,1971,22,1972,64,1965,51.5
6,2005.0,1,7,52.0,42.0,47.0,62,41,79,1989,36,1971,19,1970,62,1965,51.5
7,2005.0,1,8,66.0,43.0,54.5,62,41,80,1957,36,1968,19,1996,64,1965,51.5
8,2005.0,1,9,76.0,45.0,60.5,62,41,82,1957,34,1973,19,1976,66,1965,51.5
9,2005.0,1,10,76.0,65.0,70.5,62,41,82,1957,34,1973,19,1976,66,1965,51.5
10,2005.0,1,11,79.0,60.0,69.5,62,41,81,1995,30,1962,12,1982,69,1995,51.5
11,2005.0,1,12,75.0,67.0,71.0,62,41,81,2000,37,1985,17,1962,67,2005,51.5
12,2005.0,1,13,73.0,45.0,59.0,62,41,81,1935,32,1996,20,1973,68,1965,51.5
13,2005.0,1,14,61.0,37.0,49.0,62,41,82,1971,42,1964,19,1982,63,1965,51.5
14,2005.0,1,15,59.0,36.0,47.5,62,41,79,1996,42,1984,23,1979,61,1968,51.5
15,2005.0,1,16,57.0,36.0,46.5,62,41,82,1936,40,1964,22,1972,61,1967,51.5
16,2005.0,1,17,53.0,33.0,43.0,62,41,80,1974,36,1978,22,1977,64,1967,51.5
17,2005.0,1,18,52.0,35.0,43.5,62,41,81,2000,36,1978,20,1940,68,1968,51.5
18,2005.0,1,19,68.0,41.0,54.5,62,41,81,2000,33,1978,12,1940,66,1970,51.5
19,2005.0,1,20,74.0,51.0,62.5,62,41,80,1999,29,1978,20,1985,66,1963,51.5
20,2005.0,1,21,75.0,53.0,64.0,62,41,79,1999,31,1978,16,1985,70,1999,51.5
21,2005.0,1,22,73.0,43.0,58.0,62,41,82,1967,36,1978,18,1935,66,1967,51.5
22,2005.0,1,23,49.0,32.0,40.5,62,41,83,1972,42,1966,5,1940,70,2002,51.5
23,2005.0,1,24,61.0,32.0,46.5,63,41,82,1971,34,1963,17,1963,68,1950,52.0
24,2005.0,1,25,74.0,44.0,59.0,63,41,82,1950,43,1966,24,1963,70,1950,52.0
25,2005.0,1,26,78.0,56.0,67.0,63,42,84,1975,45,1961,24,1940,68,1994,52.5
26,2005.0,1,27,60.0,46.0,53.0,63,42,83,1975,40,1961,18,1940,65,1970,52.5
27,2005.0,1,28,53.0,43.0,48.0,63,42,82,1975,38,1961,26,1948,68,1970,52.5
28,2005.0,1,29,52.0,46.0,49.0,63,42,82,1975,38,1967,23,1973,69,1970,52.5
29,2005.0,1,30,53.0,46.0,49.5,63,42,82,1975,28,1951,12,1949,67,2002,52.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,2005.0,12,3,83.0,67.0,75.0,67,45,85,1995,46,1971,29,1976,70,1995,56.0
337,2005.0,12,4,78.0,49.0,63.5,67,45,83,1933,48,1971,31,1976,70,1998,56.0
338,2005.0,12,5,58.0,40.0,49.0,67,45,83,1998,44,1984,28,1990,68,1998,56.0
339,2005.0,12,6,58.0,32.0,45.0,66,44,81,1998,49,1971,21,1950,68,1995,55.0
340,2005.0,12,7,53.0,37.0,45.0,66,44,84,1998,47,1972,19,1950,68,1980,55.0
341,2005.0,12,8,37.0,31.0,34.0,66,44,82,1994,37,2005,27,1976,65,1977,55.0
342,2005.0,12,9,48.0,33.0,40.5,66,44,80,1971,43,1978,26,1978,68,1971,55.0
343,2005.0,12,10,55.0,39.0,47.0,66,44,82,1939,48,1986,20,1978,67,1983,55.0
344,2005.0,12,11,65.0,37.0,51.0,65,43,82,1981,44,1986,26,1957,68,1996,54.0
345,2005.0,12,12,69.0,41.0,55.0,65,43,82,1948,39,2000,23,1957,64,1984,54.0
346,2005.0,12,13,70.0,39.0,54.5,65,43,81,1984,41,1985,19,1989,68,1984,54.0
347,2005.0,12,14,69.0,47.0,58.0,65,43,82,1950,42,1960,25,1985,67,1984,54.0
348,2005.0,12,15,60.0,41.0,50.5,65,43,80,1990,44,1972,25,1952,69,1984,54.0
349,2005.0,12,16,50.0,38.0,44.0,64,43,82,1971,37,1989,19,1989,62,1971,53.5
350,2005.0,12,17,48.0,39.0,43.5,64,42,80,1984,37,1989,22,1972,68,1984,53.0
351,2005.0,12,18,55.0,37.0,46.0,64,42,82,1980,39,1989,24,1996,66,1984,53.0
352,2005.0,12,19,58.0,36.0,47.0,64,42,81,1978,37,1983,22,1996,66,1978,53.0
353,2005.0,12,20,48.0,38.0,43.0,64,42,81,1951,44,1973,26,1945,70,1967,53.0
354,2005.0,12,21,57.0,38.0,47.5,64,42,81,1970,37,1963,21,1973,66,1984,53.0
355,2005.0,12,22,59.0,34.0,46.5,63,42,81,1981,33,1983,13,1989,68,1970,52.5
356,2005.0,12,23,74.0,39.0,56.5,63,42,80,1996,28,1989,7,1989,66,1981,52.5
357,2005.0,12,24,71.0,54.0,62.5,63,42,82,1948,27,1983,11,1989,71,1982,52.5
358,2005.0,12,25,69.0,44.0,56.5,63,41,82,1964,28,1983,11,1983,64,1951,52.0
359,2005.0,12,26,78.0,39.0,58.5,63,41,79,1950,31,1983,18,1983,62,1968,52.0
360,2005.0,12,27,79.0,58.0,68.5,63,41,81,1971,40,1987,27,1972,62,1954,52.0
361,2005.0,12,28,73.0,48.0,60.5,63,41,80,1996,48,1983,30,1997,69,1984,52.0
362,2005.0,12,29,72.0,41.0,56.5,63,41,81,1984,35,1983,22,1983,69,1984,52.0
363,2005.0,12,30,77.0,52.0,64.5,62,41,83,1974,42,1983,19,1983,68,1964,51.5
364,2005.0,12,31,76.0,45.0,60.5,62,41,82,1974,40,1976,18,1983,68,1951,51.5
365,NaN,2,29,NaN,NaN,NaN,70,47,89,1940,43,1963,28,2002,65,1951,58.5

## Identify and Note any new records:

In [9]:
for x in range(len(temps_year_df.index)):  # don't hardcode number of records - we may want to use a different scope later
    if temps_year_df.iloc[x,0] == focus_year:  # 2/29 will be missing in non-leapyears
        x_high    = temps_year_df.iloc[x,3]
        x_low     = temps_year_df.iloc[x,4]
        x_year    = temps_year_df.iloc[x,0]  
        x_day     = temps_year_df.iloc[x,2]
        x_month   = temps_year_df.iloc[x,1]
        x_record_max = temps_year_df.iloc[x,8]
        x_record_min = temps_year_df.iloc[x,12]
        x_low_max    = temps_year_df.iloc[x,10]
        x_high_min   = temps_year_df.iloc[x,14]

        if x_high > x_record_max:
            print(f'New Record High of {x_high} on {x_month}/{x_day} replaces old record of {x_record_max} from {temps_year_df.iloc[x,9]}')
            temps_year_df.iloc[x,8]   = x_high
            temps_year_df.iloc[x,9]   = x_year
        if x_high < x_low_max:
            print(f'New Record Low Max of {x_high} on {x_month}/{x_day} replaces old record of {x_low_max} from {temps_year_df.iloc[x,11]}')
            temps_year_df.iloc[x,10]   = x_high
            temps_year_df.iloc[x,11]  = x_year
        if x_low < x_record_min:
            print(f'New Record Low of {x_low} on {x_month}/{x_day} replaces old record of {x_record_min} from {temps_year_df.iloc[x,13]}')
            temps_year_df.iloc[x,12]  = x_low
            temps_year_df.iloc[x,13]  = x_year
        if x_low > x_high_min:
            print(f'New Record High Min of {x_low} on {x_month}/{x_day} replaces old record of {x_high_min} from {temps_year_df.iloc[x,15]}')
            temps_year_df.iloc[x,14]  = x_low
            temps_year_df.iloc[x,15]  = x_year

Save the updated records:

In [10]:
xyz=["Month","Day","Normal Max","Normal Min","Record Max","Record Max Year","Low Max","Low Max Year","Record Min","Record Min Year","High Min","High Min Year","Normal Average"]
norms_new_df = temps_year_df[xyz]

filename = "Houston_Norms_" + str(focus_year) + ".csv"
norms_new_df.to_csv(filename, index=False, header=True)

## Find out how much warmer or cooler than normal each day is, then acccumulate the differences throughout the year

In [11]:
temps_year_df["Average Diff"] = temps_year_df["Average"] - temps_year_df["Normal Average"]
temps_year_df["Accum Diff"] = temps_year_df["Average Diff"]
temps_year_df.head()

,Year,Month,Day,High,Low,Average,Normal Max,Normal Min,Record Max,Record Max Year,Low Max,Low Max Year,Record Min,Record Min Year,High Min,High Min Year,Normal Average,Average Diff,Accum Diff
0,2005.0,1,1,75.0,62.0,68.5,62,41,80,1934,36,2001,25,1979,69,1956,51.5,17.0,17.0
1,2005.0,1,2,73.0,66.0,69.5,62,41,82,1965,35,1979,17,1979,69,2000,51.5,18.0,18.0
2,2005.0,1,3,79.0,66.0,72.5,62,41,83,1989,37,1974,18,1979,68,2004,51.5,21.0,21.0
3,2005.0,1,4,73.0,66.0,69.5,62,41,78,1957,36,1959,22,1959,66,2005,51.5,18.0,18.0
4,2005.0,1,5,77.0,46.0,61.5,62,41,80,1989,40,1972,22,1972,64,1997,51.5,10.0,10.0

In [12]:
for x in range(1,len(temps_year_df.index)):
    y = x-1
    temps_year_df.iloc[x,18]   = temps_year_df.iloc[y,18] + temps_year_df.iloc[x,17]
    
temps_year_df.head()

,Year,Month,Day,High,Low,Average,Normal Max,Normal Min,Record Max,Record Max Year,Low Max,Low Max Year,Record Min,Record Min Year,High Min,High Min Year,Normal Average,Average Diff,Accum Diff
0,2005.0,1,1,75.0,62.0,68.5,62,41,80,1934,36,2001,25,1979,69,1956,51.5,17.0,17.0
1,2005.0,1,2,73.0,66.0,69.5,62,41,82,1965,35,1979,17,1979,69,2000,51.5,18.0,35.0
2,2005.0,1,3,79.0,66.0,72.5,62,41,83,1989,37,1974,18,1979,68,2004,51.5,21.0,56.0
3,2005.0,1,4,73.0,66.0,69.5,62,41,78,1957,36,1959,22,1959,66,2005,51.5,18.0,74.0
4,2005.0,1,5,77.0,46.0,61.5,62,41,80,1989,40,1972,22,1972,64,1997,51.5,10.0,84.0

### Graph out the accumulated difference over the course of the year

In [20]:
x_axis = np.arange(1, 367, 1)
y_axis = temps_year_df.iloc[:,18]

plt.title("Accumulated Actual vs Normal Temperatures: " + str(focus_year))
plt.xlabel("Day of the Year")
plt.ylabel("Degrees (Fahrenheit)")
plt.grid()


plt.plot(x_axis, y_axis,  color='red', label='Label')

plt.savefig("year_chart_" + str(focus_year) + ".jpg")