In [1]:
import pandas as pd

In [2]:
temps_df = pd.read_csv("Houston_Temps.csv")
temps_df.head(5)

         Date  High  Low Precip
0    1/1/2005    75   62      T
1    1/2/2005    73   66      0
2    1/3/2005    79   66      0
3    1/4/2005    73   66   0.04
4    1/5/2005    77   46   0.01
5    1/6/2005    47   39   0.02
6    1/7/2005    52   42   0.03
7    1/8/2005    66   43      0
8    1/9/2005    76   45      0
9   1/10/2005    76   65      T
10  1/11/2005    79   60      0
11  1/12/2005    75   67      T
12  1/13/2005    73   45   1.51
13  1/14/2005    61   37      0
14  1/15/2005    59   36      0

In [3]:
norms_df = pd.read_csv("Houston_Norms.csv")
norms_df.head(5)

,Month,Day,Normal Max,Normal Min,Record Max,Record Max Year,Low Max,Low Max Year,Record Min,Record Min Year,High Min,High Min Year
0,1,1,62,41,80,1934,36,2001,25,1979,69,1956
1,1,2,62,41,82,1965,35,1979,17,1979,69,2000
2,1,3,62,41,83,1989,37,1974,18,1979,68,2004
3,1,4,62,41,78,1957,36,1959,22,1959,66,2005
4,1,5,62,41,80,1989,40,1972,22,1972,64,1997
5,1,6,62,41,80,1989,38,1971,22,1972,64,1965
6,1,7,62,41,79,1989,36,1971,19,1970,62,1965
7,1,8,62,41,80,1957,36,1968,19,1996,64,1965
8,1,9,62,41,82,1957,34,1973,19,1976,66,1965
9,1,10,62,41,82,1957,34,1973,19,1976,66,1965
10,1,11,62,41,81,1995,30,1962,12,1982,69,1995
11,1,12,62,41,81,2000,37,1985,17,1962,67,2005
12,1,13,62,41,81,1935,32,1996,20,1973,68,1965
13,1,14,62,41,82,1971,42,1964,19,1982,63,1965
14,1,15,62,41,79,1996,42,1984,23,1979,61,1968

In [4]:
temps_df[["Month","Day","Year"]]  = temps_df.Date.str.split("/",expand=True)
temps_df.head(5)

         Date  High  Low Precip Month Day  Year
0    1/1/2005    75   62      T     1   1  2005
1    1/2/2005    73   66      0     1   2  2005
2    1/3/2005    79   66      0     1   3  2005
3    1/4/2005    73   66   0.04     1   4  2005
4    1/5/2005    77   46   0.01     1   5  2005
5    1/6/2005    47   39   0.02     1   6  2005
6    1/7/2005    52   42   0.03     1   7  2005
7    1/8/2005    66   43      0     1   8  2005
8    1/9/2005    76   45      0     1   9  2005
9   1/10/2005    76   65      T     1  10  2005
10  1/11/2005    79   60      0     1  11  2005
11  1/12/2005    75   67      T     1  12  2005
12  1/13/2005    73   45   1.51     1  13  2005
13  1/14/2005    61   37      0     1  14  2005
14  1/15/2005    59   36      0     1  15  2005

In [5]:
xyz=['Year',"Month","Day","High", "Low", "Average"]
temps_df = temps_df[xyz]

temps_df.head(5)

    Year Month Day  High  Low
0   2005     1   1    75   62
1   2005     1   2    73   66
2   2005     1   3    79   66
3   2005     1   4    73   66
4   2005     1   5    77   46
5   2005     1   6    47   39
6   2005     1   7    52   42
7   2005     1   8    66   43
8   2005     1   9    76   45
9   2005     1  10    76   65
10  2005     1  11    79   60
11  2005     1  12    75   67
12  2005     1  13    73   45
13  2005     1  14    61   37
14  2005     1  15    59   36

In [6]:
temps_df["Month"] = temps_df["Month"].astype(int)
temps_df["Day"]   = temps_df["Day"].astype(int)
temps_df["Year"]  = temps_df["Year"].astype(int)
temps_df.dtypes

Year     int32
Month    int32
Day      int32
High     int64
Low      int64
dtype: object

In [7]:
focus_year = 2005

temps_year_df = temps_df.loc[temps_df["Year"] == focus_year, : ]
temps_year_df.head()

     Year  Month  Day  High  Low
0    2005      1    1    75   62
1    2005      1    2    73   66
2    2005      1    3    79   66
3    2005      1    4    73   66
4    2005      1    5    77   46
5    2005      1    6    47   39
6    2005      1    7    52   42
7    2005      1    8    66   43
8    2005      1    9    76   45
9    2005      1   10    76   65
10   2005      1   11    79   60
11   2005      1   12    75   67
12   2005      1   13    73   45
13   2005      1   14    61   37
14   2005      1   15    59   36
15   2005      1   16    57   36
16   2005      1   17    53   33
17   2005      1   18    52   35
18   2005      1   19    68   41
19   2005      1   20    74   51
20   2005      1   21    75   53
21   2005      1   22    73   43
22   2005      1   23    49   32
23   2005      1   24    61   32
24   2005      1   25    74   44
25   2005      1   26    78   56
26   2005      1   27    60   46
27   2005      1   28    53   43
28   2005      1   29    52   46
29   2005      1   30    53   46
..    ...    ...  ...   ...  ...
335  2005     12    2    67   42
336  2005     12    3    83   67
337  2005     12    4    78   49
338  2005     12    5    58   40
339  2005     12    6    58   32
340  2005     12    7    53   37
341  2005     12    8    37   31
342  2005     12    9    48   33
343  2005     12   10    55   39
344  2005     12   11    65   37
345  2005     12   12    69   41
346  2005     12   13    70   39
347  2005     12   14    69   47
348  2005     12   15    60   41
349  2005     12   16    50   38
350  2005     12   17    48   39
351  2005     12   18    55   37
352  2005     12   19    58   36
353  2005     12   20    48   38
354  2005     12   21    57   38
355  2005     12   22    59   34
356  2005     12   23    74   39
357  2005     12   24    71   54
358  2005     12   25    69   44
359  2005     12   26    78   39
360  2005     12   27    79   58
361  2005     12   28    73   48
362  2005     12   29    72   41
363  2005     12   30    77   52
364  2005     12   31    76   45

[365 rows x 5 columns]

In [8]:
temps_year_df = pd.merge(temps_year_df, norms_df, on=("Month", "Day"))
temps_year_df.head()

,Year,Month,Day,High,Low,Normal Max,Normal Min,Record Max,Record Max Year,Low Max,Low Max Year,Record Min,Record Min Year,High Min,High Min Year
0,2005,1,1,75,62,62,41,80,1934,36,2001,25,1979,69,1956
1,2005,1,2,73,66,62,41,82,1965,35,1979,17,1979,69,2000
2,2005,1,3,79,66,62,41,83,1989,37,1974,18,1979,68,2004
3,2005,1,4,73,66,62,41,78,1957,36,1959,22,1959,66,2005
4,2005,1,5,77,46,62,41,80,1989,40,1972,22,1972,64,1997
5,2005,1,6,47,39,62,41,80,1989,38,1971,22,1972,64,1965
6,2005,1,7,52,42,62,41,79,1989,36,1971,19,1970,62,1965
7,2005,1,8,66,43,62,41,80,1957,36,1968,19,1996,64,1965
8,2005,1,9,76,45,62,41,82,1957,34,1973,19,1976,66,1965
9,2005,1,10,76,65,62,41,82,1957,34,1973,19,1976,66,1965
10,2005,1,11,79,60,62,41,81,1995,30,1962,12,1982,69,1995
11,2005,1,12,75,67,62,41,81,2000,37,1985,17,1962,67,2005
12,2005,1,13,73,45,62,41,81,1935,32,1996,20,1973,68,1965
13,2005,1,14,61,37,62,41,82,1971,42,1964,19,1982,63,1965
14,2005,1,15,59,36,62,41,79,1996,42,1984,23,1979,61,1968
15,2005,1,16,57,36,62,41,82,1936,40,1964,22,1972,61,1967
16,2005,1,17,53,33,62,41,80,1974,36,1978,22,1977,64,1967
17,2005,1,18,52,35,62,41,81,2000,36,1978,20,1940,68,1968
18,2005,1,19,68,41,62,41,81,2000,33,1978,12,1940,66,1970
19,2005,1,20,74,51,62,41,80,1999,29,1978,20,1985,66,1963
20,2005,1,21,75,53,62,41,79,1999,31,1978,16,1985,70,1999
21,2005,1,22,73,43,62,41,82,1967,36,1978,18,1935,66,1967
22,2005,1,23,49,32,62,41,83,1972,42,1966,5,1940,70,2002
23,2005,1,24,61,32,63,41,82,1971,34,1963,17,1963,68,1950
24,2005,1,25,74,44,63,41,82,1950,43,1966,24,1963,70,1950
25,2005,1,26,78,56,63,42,84,1975,45,1961,24,1940,68,1994
26,2005,1,27,60,46,63,42,83,1975,62,1961,18,1940,65,1970
27,2005,1,28,53,43,63,42,82,1975,38,1961,26,1948,68,1970
28,2005,1,29,52,46,63,42,82,1975,38,1967,23,1973,69,1970
29,2005,1,30,53,46,63,42,82,1975,28,1951,12,1949,67,2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2005,12,2,67,42,67,45,83,1978,48,1971,28,1979,74,1982
336,2005,12,3,83,67,67,45,85,1995,46,1971,70,1976,70,1995
337,2005,12,4,78,49,67,45,83,1933,48,1971,31,1976,70,1998
338,2005,12,5,58,40,67,45,83,1998,44,1984,28,1990,68,1998
339,2005,12,6,58,32,66,44,81,1998,49,1971,21,1950,68,1995
340,2005,12,7,53,37,66,44,84,1998,47,1972,19,1950,68,1980
341,2005,12,8,37,31,66,44,82,1994,37,2005,27,1976,65,1977
342,2005,12,9,48,33,66,44,80,1971,43,1978,26,1978,68,1971
343,2005,12,10,55,39,66,44,82,1939,48,1986,20,1978,67,1983
344,2005,12,11,65,37,65,43,82,1981,44,1986,26,1957,68,1996
345,2005,12,12,69,41,65,43,82,1948,39,2000,23,1957,64,1984
346,2005,12,13,70,39,65,43,81,1984,41,1985,19,1989,68,1984
347,2005,12,14,69,47,65,43,82,1950,42,1960,25,1985,67,1984
348,2005,12,15,60,41,65,43,80,1990,44,1972,25,1952,69,1984
349,2005,12,16,50,38,64,43,82,1971,37,1989,39,1989,62,1971
350,2005,12,17,48,39,64,42,80,1984,37,1989,22,1972,68,1984
351,2005,12,18,55,37,64,42,82,1980,39,1989,24,1996,66,1984
352,2005,12,19,58,36,64,42,81,1978,37,1983,22,1996,66,1978
353,2005,12,20,48,38,64,42,81,1951,44,1973,26,1945,70,1967
354,2005,12,21,57,38,64,42,81,1970,37,1963,21,1973,66,1984
355,2005,12,22,59,34,63,42,81,1981,33,1983,13,1989,68,1970
356,2005,12,23,74,39,63,42,80,1996,28,1989,7,1989,66,1981
357,2005,12,24,71,54,63,42,82,1948,27,1983,11,1989,71,1982
358,2005,12,25,69,44,63,41,82,1964,28,1983,11,1983,64,1951
359,2005,12,26,78,39,63,41,79,1950,31,1983,18,1983,62,1968
360,2005,12,27,79,58,63,41,81,1971,40,1987,27,1972,62,1954
361,2005,12,28,73,48,63,41,80,1996,48,1983,30,1997,69,1984
362,2005,12,29,72,41,63,41,81,1984,35,1983,22,1983,69,1984
363,2005,12,30,77,52,62,41,83,1974,42,1983,19,1983,68,1964
364,2005,12,31,76,45,62,41,82,1974,40,1976,18,1983,68,1951

## Identify and Note any new records:

In [9]:
for x in range(len(temps_year_df.index)):
    x_high    = temps_year_df.iloc[x,3]
    x_low     = temps_year_df.iloc[x,4]
    x_year    = temps_year_df.iloc[x,0]  # could also use focus_year
    x_day     = temps_year_df.iloc[x,2]
    x_month   = temps_year_df.iloc[x,1]
    x_record_max = temps_year_df.iloc[x,7]
    x_record_min = temps_year_df.iloc[x,11]
    x_low_max    = temps_year_df.iloc[x,9]
    x_high_min   = temps_year_df.iloc[x,13]
    
    if x_high > x_record_max:
        print(f'New Record High of {x_high} on {x_month}/{x_day} replaces old record of {x_record_max} from {temps_year_df.iloc[x,8]}')
        temps_year_df.iloc[x,7]   = x_high
        temps_year_df.iloc[x,8]   = x_year
    if x_high < x_low_max:
        print(f'New Record Low Max of {x_high} on {x_month}/{x_day} replaces old record of {x_low_max} from {temps_year_df.iloc[x,10]}')
        temps_year_df.iloc[x,9]   = x_high
        temps_year_df.iloc[x,10]  = x_year
    if x_low < x_record_min:
        print(f'New Record Low of {x_low} on {x_month}/{x_day} replaces old record of {x_record_min} from {temps_year_df.iloc[x,12]}')
        temps_year_df.iloc[x,11]  = x_low
        temps_year_df.iloc[x,12]  = x_year
    if x_low > x_high_min:
        print(f'New Record High Min of {x_low} on {x_month}/{x_day} replaces old record of {x_high_min} from {temps_year_df.iloc[x,14]}')
        temps_year_df.iloc[x,13]  = x_low
        temps_year_df.iloc[x,14]  = x_year

New Record Low Max of 60 on 1/27 replaces old record of 62 from 1961
New Record High of 57 on 3/15 replaces old record of 54 from 1967
New Record Low Max of 77 on 4/18 replaces old record of 80 from 1998
New Record Low of 62 on 5/8 replaces old record of 63 from 1982
New Record High of 91 on 7/20 replaces old record of 90 from 2000
New Record High of 90 on 7/21 replaces old record of 88 from 2000
New Record High Min of 78 on 8/27 replaces old record of 77 from 2005
New Record High of 94 on 9/18 replaces old record of 92 from 1982
New Record Low Max of 80 on 11/11 replaces old record of 81 from 1968
New Record Low of 67 on 12/3 replaces old record of 70 from 1976
New Record Low of 38 on 12/16 replaces old record of 39 from 1989